:root{
    --primary-color: #0891B2;
    --secondary-color: rgb(42, 77, 173);    
}

*root{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}  

#main{
    display: block;
    max-width: 100%;
    margin: auto;
    height: 85px;
    background-color: var(--primary-color);
    border-radius: 0 50px 0 50px;
}

#head1{
    display: flex ;
    text-align: center;
    padding-left: 160px;
    font-size: x-large;  
}

#head1 h1{
    position: sticky;
    margin-top: -10px;
}

nav{
    margin-top: -45px;
    padding-right: 150px;
}

nav .no-bullet {
    position: sticky;
    list-style: none;
    text-align: right;
}
.inline-list{
    display: inline;
    padding: 0 2rem;
}
nav a{
    text-decoration: none;
    font-size: large;
    color: aliceblue;
}

nav a:hover{
    display: inline-block;
    color: var(--secondary-color);
}

#part1{
    display: block;
    max-width: 700px;
    margin: auto;
}

#part1 p{
    text-align: justify;
    font-size: 25px;
    margin-left: -22px;
}

#part1 ol li{
    font-size: 25px;
}

#link{
    display: block;
    max-width: 700px;
    margin: auto;
    text-align: left;
    font-size: 25px;
}

#link-box a{
    text-decoration: none;
    color: var(--primary-color);
}

#link-box a:hover{
    color: var(--secondary-color);
}

#link-box img{
    
    width: 100px;  
    border-radius: 20px;  
}

.link-inline{
    display: grid;
    grid-template-columns: 3;
    padding: 5px;
    text-align: center;
}

footer{
    display: block;
    max-width: 100%;
    margin: auto;
    text-align: center;
    background-color:var(--primary-color);
    border-radius: 0 50px 0 50px;
}

footer img{
    max-width: 60px;
}
footer #size{
    height: 58px;
    border-radius: 10px;
}

footer .contact-info-inline{
    display: inline-block;
    padding-bottom: 8px;
    padding-left: 50px;
}