.root{
    --primary-color: #108E7D;
    --secondary-color: #3891BB;
}

*root{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
}
