:root{
    --primary-color: #0891B2;
    --secondary-color: rgb(42, 77, 173);    
}

*root{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}  

#main{
    display: block;
    max-width: 100%;
    margin: auto;
    height: 85px;
    background-color: var(--primary-color);
    border-radius: 0 50px 0 50px;
}

#head1{
    display: flex ;
    text-align: center;
    padding-left: 160px;
    font-size: x-large;  
}

#head1 h1{
    position: sticky;
    margin-top: -10px;
}

nav{
    margin-top: -45px;
    padding-right: 150px;
}

nav .no-bullet {
    position: sticky;
    list-style: none;
    text-align: right;
}
.inline-list{
    display: inline;
    padding: 0 2rem;
}
nav a{
    text-decoration: none;
    font-size: large;
    color: aliceblue;
}

nav a:hover{
    display: inline-block;
    color: var(--secondary-color);
}

#part1{
    display: block;
    max-width: 700px;
    margin: auto;
}

#part1 p{
    text-align: justify;
    font-size: 25px;
    margin-left: -22px;
}

#part1 ol li{
    font-size: 25px;
}

footer{
    display: block;
    max-width: 100%;
    margin: auto;
    text-align: center;
    background-color:var(--primary-color);
    border-radius: 0 50px 0 50px;
}

footer img{
    max-width: 60px;
}
footer #size{
    height: 58px;
    border-radius: 10px;
}

footer .contact-info-inline{
    display: inline-block;
    padding-bottom: 8px;
    padding-left: 50px;
}

/*------blogs styling-------*/

.prev1{
    display: none;
}
.next1{
    display: none;
}

.prev2{
    display: none;
}
.next2{
    display: none;
}

.prev3{
    display: none;
}
.next3{
    display: none;
}

.prev4{
    display: none;
}
.next4{
    display: none;
}

.part1{
    display: block;
    text-align: justify;
    width: 700px;
    margin: auto;
    font-size: larger;
    margin-top: -15px;
}
.part1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: -10px;
}

.prev{
    width: 10rem;
    height: 2rem;
    position: relative;
    right: -310px;
}
.next{
    width: 10rem;
    height: 2rem;
    position: relative;
    left: 735px;
}

.part2{
    display: none;
    text-align: justify;
    width: 700px;
    margin: auto;
    font-size: larger;
    margin-top: -15px;
}
.part2 img{
    width: 300px;
    height: 300px;
    margin-top: -10px;
}
 .part2 ul{
    list-style: square;
 }
.prev1{
    width: 10rem;
    height: 2rem;
    position: relative;
    right: -310px;
}
.next1{
    width: 10rem;
    height: 2rem;
    position: relative;
    left: 735px;
}

.part3{
    display: none;
    text-align: justify;
    width: 700px;
    margin: auto;
    font-size: larger;
    margin-top: -15px;
}
.part3 img{
    width: 150px;
    height: 150px;
    margin-top: 5px;
}
.part3 ol li ul{
    list-style: square;
}

.prev2{
    width: 10rem;
    height: 2rem;
    position: relative;
    right: -310px;
}
.next2{
    width: 10rem;
    height: 2rem;
    position: relative;
    left: 735px;
}

.part4{
    display: none;
    text-align: justify;
    width: 700px;
    margin: auto;
    font-size: larger;
    margin-top: -15px;
}
.part4 img{
    width: 150px;
    height: 150px;
    margin-top: -10px;
}
.part4 ul{
    list-style: square;
}

.prev3{
    width: 10rem;
    height: 2rem;
    position: relative;
    right: -310px;
}
.next3{
    width: 10rem;
    height: 2rem;
    position: relative;
    left: 735px;
}

.part5{
    display: none;
    text-align: justify;
    width: 700px;
    margin: auto;
    font-size: larger;
    margin-top: -15px;
}
.part5 img{
    width: 150px;
    height: 150px;
    margin-top: -10px;
}
.part5 ul{
    list-style: square;
}

.prev4{
    width: 10rem;
    height: 2rem;
    position: relative;
    right: -310px;
}
.next4{
    width: 10rem;
    height: 2rem;
    position: relative;
    left: 735px;
}
#link{
    display: block;
    text-align: center;
    width: 900px;
    margin: auto;
    padding-left: 275px;

}
#link p{
    display: block;
    text-align: justify;
    font-size: x-large;

}

#link-box{
    width: 90%;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
}
#link-box ol{
    padding: 0;
    margin: 0;
}
#link-box ol li{
    list-style: none;
    float: left;
    width: 200px;
    height: 250px;
    margin: -10px 10px 10px 20px;    
}
#link-box ol li a{
    display: grid;
    text-align: center;
    text-decoration: none;
}
#link-box ol li img{    
    width: 150px;
    height: 200px;
}
